
<head>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script type="text/javascript">
$(function (){
    
["top", "left", "bottom", "right"].map( function(location) {
$('#' + location + '_form').submit(function(ev){
ev.preventDefault();
 
$.ajax({
url: "/" + location,
data: $(this).serialize(),
type : 'PUT',
dataType: "json",
success: function(data) {
    setTextInLocation('#' + location, data.id, data.text);
}
});
});
});

function setTextInLocation(location, id, text) {
    $(location).html("<a href=/page/" + id + ">" + text + '</a>');
};

});
</script>
</head>

  
<table border = "1">
<% ["", "top", "", "left", "centre", "right", "", "bottom", ""].each_with_index do |location, index| %>
    <% if [0, 3, 6].include? index %>
    <%= "<tr>" %>
    <% end %>
    <td>
    <% if location != "" &&  @page_content.send(location).nil? %>
    <%= '<td id="' + location + '"><form id="' + location + '_form" action=""><input type="hidden" name="id" value="' + @page_id.to_s + '" /><input type="text" name="text"></input><input type="submit"></input></form></td>' %>
    <% elsif location != "" %> 
        <%= @page_content.send(location) %>
    <% end %>
    </td>
    <% if [2, 5, 8].include? index %>
    <%= "</tr>" %>
    <% end %>    
<% end %>
</table>